In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Basics").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/30 11:17:17 WARN Utils: Your hostname, Abisheck, resolves to a loopback address: 127.0.1.1; using 192.168.31.26 instead (on interface wlp3s0)
25/08/30 11:17:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/30 11:17:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df=spark.read.csv("new_insurance_data.csv")
df.show()

+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
| _c0| _c1|  _c2|     _c3|   _c4|         _c5|               _c6|         _c7|                 _c8|                 _c9|        _c10|     _c11|     _c12|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
| age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_ho...|Anual_Salary|   region|  charges|
|  18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                   0| 55784970.05|southeast|1121.8739|
|  18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                   0| 13700885.19|southeast|1131.5066|
|  18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                   0| 73523107.27|southeast|1135.9407|
|  18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                   0|  75819679.6|southeast|1136.3994|
|  18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                   0| 23012320.01|southeast| 1137.011|
|  18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                   0|        NULL|southeast|1137.4697|
|  18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                   0| 69060665.92|southeast|1141.4451|
|  18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                   0| 97193784.44|southeast|1146.7966|
|  18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                   0| 58881971.93|southeast|1149.3959|
|  18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                   0| 94261821.45|southeast|1163.4627|
|  19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                   0| 70076109.65|southwest| 1241.565|
|  19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                   0| 2747071.908|southwest|  1242.26|
|  19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                NULL| 94628894.61|southwest| 1242.816|
|  19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                   0| 38421625.29|southwest| 1252.407|
|  19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                   0| 17904619.49|southwest| 1253.936|
|  19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                   0| 43544451.18|southwest| 1256.299|
|NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                   0| 23965336.92|southwest| 1261.442|
|  19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                   0| 34538566.14|southwest| 1261.859|
|  19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                   0| 78539065.04|southwest| 1263.249|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
only showing top 20 rows

In [14]:
#alternative way to read csv file(to get rid of c1 and c2 column names)
df1=spark.read.option('header','True').csv("new_insurance_data.csv")#.show()

In [13]:

df1.printSchema() # similarly like df.info() in pandas

root
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: string (nullable = true)
 |-- children: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- Claim_Amount: string (nullable = true)
 |-- past_consultations: string (nullable = true)
 |-- num_of_steps: string (nullable = true)
 |-- Hospital_expenditure: string (nullable = true)
 |-- NUmber_of_past_hospitalizations: string (nullable = true)
 |-- Anual_Salary: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: string (nullable = true)

In [16]:
df1.columns

['age',
 'sex',
 'bmi',
 'children',
 'smoker',
 'Claim_Amount',
 'past_consultations',
 'num_of_steps',
 'Hospital_expenditure',
 'NUmber_of_past_hospitalizations',
 'Anual_Salary',
 'region',
 'charges']

In [17]:
#if we want to select some columns in df
selected=df1.select(["age","bmi","children"]).show()

+----+-----+--------+
| age|  bmi|children|
+----+-----+--------+
|  18|23.21|       0|
|  18|30.14|       0|
|  18|33.33|       0|
|  18|33.66|       0|
|  18| 34.1|       0|
|  18|34.43|       0|
|  18|37.29|       0|
|  18|41.14|       0|
|  18|43.01|       0|
|  18|53.13|       0|
|  19| 19.8|       0|
|  19| 20.3|       0|
|  19| 20.7|       0|
|  19| 27.6|       0|
|  19| 28.7|       0|
|  19| NULL|       0|
|NULL| 34.1|       0|
|  19| 34.4|       0|
|  19| 35.4|       0|
|  20|33.33|       0|
+----+-----+--------+
only showing top 20 rows

In [19]:
df1.describe().show() # similarly like df.describe() in pandas

+-------+------------------+------+------------------+------------------+------+------------------+------------------+-----------------+--------------------+-------------------------------+--------------------+---------+------------------+
|summary|               age|   sex|               bmi|          children|smoker|      Claim_Amount|past_consultations|     num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|        Anual_Salary|   region|           charges|
+-------+------------------+------+------------------+------------------+------+------------------+------------------+-----------------+--------------------+-------------------------------+--------------------+---------+------------------+
|  count|              1329|  1338|              1335|              1333|  1338|              1324|              1332|             1335|                1334|                           1336|                1332|     1338|              1338|
|   mean| 39.31000752445448|  NULL|30.665112359550537|1.0907726931732933|  NULL|33361.327180102715|15.216216216216216|910004.6958801498| 1.584179194403089E7|               1.06062874251497|3.6968485970337224E8|     NULL|13270.422265141262|
| stddev|14.034817851452074|  NULL| 6.101689761114464|1.2018555798969581|  NULL|15617.288336988846| 7.467723170663619|91886.11959215387|2.6693047737618808E7|             0.5335830912314925| 5.668842921106706E8|     NULL|12110.011236694001|
|    min|                18|female|             15.96|                 0|    no|       10039.79224|                 1|          1000729|         10001885.66|                              0|         100138559.7|northeast|         10043.249|
|    max|                64|  male|             53.13|                 5|   yes|       9922.222111|                 9|           999973|         9993779.153|                              3|         99476155.18|southwest|        9991.03765|
+-------+------------------+------+------------------+------------------+------+------------------+------------------+-----------------+--------------------+-------------------------------+--------------------+---------+------------------+

In [20]:
# Add new column in df
df1.withColumn("age after 10 years",df1["age"]+10).show()

+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+------------------+
| age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|age after 10 years|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+------------------+
|  18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|                28|
|  18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|                28|
|  18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|                28|
|  18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|                28|
|  18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|                28|
|  18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                              0|        NULL|southeast|1137.4697|                28|
|  18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|                28|
|  18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|                28|
|  18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                              0| 58881971.93|southeast|1149.3959|                28|
|  18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|                28|
|  19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|                29|
|  19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                              0| 2747071.908|southwest|  1242.26|                29|
|  19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                           NULL| 94628894.61|southwest| 1242.816|                29|
|  19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                              0| 38421625.29|southwest| 1252.407|                29|
|  19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|                29|
|  19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                              0| 43544451.18|southwest| 1256.299|                29|
|NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                              0| 23965336.92|southwest| 1261.442|              NULL|
|  19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|                29|
|  19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|                29|
|  20|male|33.33|       0|    no| 12590.76762|                14|      729642|          7647247.49|                              0|        NULL|southeast|1391.5287|                30|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+------------------+
only showing top 20 rows

In [21]:
#drop
df_drop=df1.drop("age after 10 years")
df.show()

+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
| _c0| _c1|  _c2|     _c3|   _c4|         _c5|               _c6|         _c7|                 _c8|                 _c9|        _c10|     _c11|     _c12|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
| age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_ho...|Anual_Salary|   region|  charges|
|  18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                   0| 55784970.05|southeast|1121.8739|
|  18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                   0| 13700885.19|southeast|1131.5066|
|  18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                   0| 73523107.27|southeast|1135.9407|
|  18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                   0|  75819679.6|southeast|1136.3994|
|  18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                   0| 23012320.01|southeast| 1137.011|
|  18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                   0|        NULL|southeast|1137.4697|
|  18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                   0| 69060665.92|southeast|1141.4451|
|  18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                   0| 97193784.44|southeast|1146.7966|
|  18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                   0| 58881971.93|southeast|1149.3959|
|  18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                   0| 94261821.45|southeast|1163.4627|
|  19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                   0| 70076109.65|southwest| 1241.565|
|  19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                   0| 2747071.908|southwest|  1242.26|
|  19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                NULL| 94628894.61|southwest| 1242.816|
|  19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                   0| 38421625.29|southwest| 1252.407|
|  19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                   0| 17904619.49|southwest| 1253.936|
|  19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                   0| 43544451.18|southwest| 1256.299|
|NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                   0| 23965336.92|southwest| 1261.442|
|  19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                   0| 34538566.14|southwest| 1261.859|
|  19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                   0| 78539065.04|southwest| 1263.249|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+--------------------+------------+---------+---------+
only showing top 20 rows

In [23]:
df1.show()

+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
| age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|  18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|
|  18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|
|  18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|
|  18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|
|  18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|
|  18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                              0|        NULL|southeast|1137.4697|
|  18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|
|  18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|
|  18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                              0| 58881971.93|southeast|1149.3959|
|  18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|
|  19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|
|  19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                              0| 2747071.908|southwest|  1242.26|
|  19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                           NULL| 94628894.61|southwest| 1242.816|
|  19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                              0| 38421625.29|southwest| 1252.407|
|  19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|
|  19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                              0| 43544451.18|southwest| 1256.299|
|NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                              0| 23965336.92|southwest| 1261.442|
|  19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|
|  19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|
|  20|male|33.33|       0|    no| 12590.76762|                14|      729642|          7647247.49|                              0|        NULL|southeast|1391.5287|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
only showing top 20 rows

In [24]:
#rename
df1.withColumnRenamed("age","age of person").show()

+-------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|age of person| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|
+-------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|           18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|
|           18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|
|           18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|
|           18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|
|           18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|
|           18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                              0|        NULL|southeast|1137.4697|
|           18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|
|           18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|
|           18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                              0| 58881971.93|southeast|1149.3959|
|           18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|
|           19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|
|           19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                              0| 2747071.908|southwest|  1242.26|
|           19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                           NULL| 94628894.61|southwest| 1242.816|
|           19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                              0| 38421625.29|southwest| 1252.407|
|           19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|
|           19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                              0| 43544451.18|southwest| 1256.299|
|         NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                              0| 23965336.92|southwest| 1261.442|
|           19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|
|           19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|
|           20|male|33.33|       0|    no| 12590.76762|                14|      729642|          7647247.49|                              0|        NULL|southeast|1391.5287|
+-------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
only showing top 20 rows

In [25]:
#to drop null values
df1.na.drop().show()

+---+------+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|age|   sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|
+---+------+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
| 18|  male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|
| 18|  male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|
| 18|  male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|
| 18|  male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|
| 18|  male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|
| 18|  male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|
| 18|  male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|
| 18|  male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|
| 19|  male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|
| 19|  male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|
| 19|  male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|
| 19|  male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|
| 21|  male|23.21|       0|    no|   26792.207|                10|      720110|         607118.6413|                              0| 96582762.17|southeast|1515.3449|
| 21|  male| 31.1|       0|    no|  49425.7164|                 6|      734819|          2960481.74|                              0| 84095935.32|southwest| 1526.312|
| 21|  male|35.53|       0|    no| 11947.49705|                15|      725468|         2126819.949|                              0| 38168145.38|southeast|1532.4697|
| 21|  male|36.85|       0|    no| 37766.29405|                 7|      740617|         6933017.891|                              0|  59825148.3|southeast|1534.3045|
| 18|female|20.79|       0|    no| 29547.45284|                19|      734070|         1047136.949|                              0| 63985877.72|southeast|1607.5101|
| 18|female|26.73|       0|    no| 6444.561114|                 9|      733803|         5808418.285|                              0| 96920315.03|southeast|1615.7667|
| 19|  male|17.48|       0|    no| 26746.21875|                 6|      756240|         9122846.088|                              0| 31674449.04|northwest|1621.3402|
| 18|female|31.13|       0|    no| 4256.280442|                 9|      754873|         6286922.368|                              0| 25091003.49|southeast|1621.8827|
+---+------+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
only showing top 20 rows

In [27]:
#fill the missing values
df1.na.fill("no age given","age").show()#we are passing value to fill null and the column name..we can also pass list of columns

+------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|         age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|
+------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
|          18|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|
|          18|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|
|          18|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|
|          18|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|
|          18|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|
|          18|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                              0|        NULL|southeast|1137.4697|
|          18|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|
|          18|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|
|          18|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                              0| 58881971.93|southeast|1149.3959|
|          18|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|
|          19|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|
|          19|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                              0| 2747071.908|southwest|  1242.26|
|          19|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                           NULL| 94628894.61|southwest| 1242.816|
|          19|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                              0| 38421625.29|southwest| 1252.407|
|          19|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|
|          19|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                              0| 43544451.18|southwest| 1256.299|
|no age given|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                              0| 23965336.92|southwest| 1261.442|
|          19|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|
|          19|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|
|          20|male|33.33|       0|    no| 12590.76762|                14|      729642|          7647247.49|                              0|        NULL|southeast|1391.5287|
+------------+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+
only showing top 20 rows

In [29]:
#filling using mean,median,mode
from pyspark.ml.feature import Imputer

# Cast columns to double
df1_casted = df1.withColumn("age", df1["age"].cast("double")).withColumn("bmi", df1["bmi"].cast("double"))

imputer = Imputer(
    inputCols=["age", "bmi"],
    outputCols=["{}_imputed".format(c) for c in ["age", "bmi"]]
).setStrategy("mean")

imputer.fit(df1_casted).transform(df1_casted).show()

+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+-----------------+------------------+
| age| sex|  bmi|children|smoker|Claim_Amount|past_consultations|num_of_steps|Hospital_expenditure|NUmber_of_past_hospitalizations|Anual_Salary|   region|  charges|      age_imputed|       bmi_imputed|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+-----------------+------------------+
|18.0|male|23.21|       0|    no| 29087.54313|                17|      715428|         4720920.992|                              0| 55784970.05|southeast|1121.8739|             18.0|             23.21|
|18.0|male|30.14|       0|    no| 39053.67437|                 7|      699157|         4329831.676|                              0| 13700885.19|southeast|1131.5066|             18.0|             30.14|
|18.0|male|33.33|       0|    no| 39023.62759|                19|      702341|         6884860.774|                              0| 73523107.27|southeast|1135.9407|             18.0|             33.33|
|18.0|male|33.66|       0|    no| 28185.39332|                11|      700250|          4274773.55|                              0|  75819679.6|southeast|1136.3994|             18.0|             33.66|
|18.0|male| 34.1|       0|    no| 14697.85941|                16|      711584|         3787293.921|                              0| 23012320.01|southeast| 1137.011|             18.0|              34.1|
|18.0|male|34.43|       0|    no| 26488.33912|                20|      717162|         3696160.701|                              0|        NULL|southeast|1137.4697|             18.0|             34.43|
|18.0|male|37.29|       0|    no| 33217.36548|                13|      699159|         876529.1853|                              0| 69060665.92|southeast|1141.4451|             18.0|             37.29|
|18.0|male|41.14|       0|    no| 46770.58533|                12|      706423|         4486741.201|                              0| 97193784.44|southeast|1146.7966|             18.0|             41.14|
|18.0|male|43.01|       0|    no| 9715.650411|                17|        NULL|         9216440.479|                              0| 58881971.93|southeast|1149.3959|             18.0|             43.01|
|18.0|male|53.13|       0|    no| 17046.58515|                19|      704425|         1458971.916|                              0| 94261821.45|southeast|1163.4627|             18.0|             53.13|
|19.0|male| 19.8|       0|    no| 16980.21403|                 2|      706796|         4981702.852|                              0| 70076109.65|southwest| 1241.565|             19.0|              19.8|
|19.0|male| 20.3|       0|    no| 1920.136268|              NULL|      695430|         3786542.068|                              0| 2747071.908|southwest|  1242.26|             19.0|              20.3|
|19.0|male| 20.7|       0|    no| 3927.892067|                 4|      723928|         5013944.643|                           NULL| 94628894.61|southwest| 1242.816|             19.0|              20.7|
|19.0|male| 27.6|       0|    no| 46780.54648|                 8|      701227|                NULL|                              0| 38421625.29|southwest| 1252.407|             19.0|              27.6|
|19.0|male| 28.7|       0|    no| 36778.50383|                 3|      724149|         8213684.633|                              0| 17904619.49|southwest| 1253.936|             19.0|              28.7|
|19.0|male| NULL|       0|    no|  12515.9537|                15|      726642|         2716157.801|                              0| 43544451.18|southwest| 1256.299|             19.0|30.665112359550537|
|NULL|male| 34.1|       0|    no| 14682.87151|                 3|      718891|         1992862.252|                              0| 23965336.92|southwest| 1261.442|39.31000752445448|              34.1|
|19.0|male| 34.4|       0|    no| 24340.53616|                 2|      720340|         5341963.243|                              0| 34538566.14|southwest| 1261.859|             19.0|              34.4|
|19.0|male| 35.4|       0|    no| 45329.43416|                 2|      711546|          5363441.89|                              0| 78539065.04|southwest| 1263.249|             19.0|              35.4|
|20.0|male|33.33|       0|    no| 12590.76762|                14|      729642|          7647247.49|                              0|        NULL|southeast|1391.5287|             20.0|             33.33|
+----+----+-----+--------+------+------------+------------------+------------+--------------------+-------------------------------+------------+---------+---------+-----------------+------------------+
only showing top 20 rows

In [32]:
#filter operation
df1.filter("age>25").select(["age","bmi"]).show()

+---+------+
|age|   bmi|
+---+------+
| 26|  20.8|
| 26| 35.42|
| 27|  23.1|
| 27|  30.5|
| 27| 32.67|
| 27| 33.66|
| 26| 17.67|
| 28| 38.06|
| 26|31.065|
| 29|  27.2|
| 29| 27.94|
| 26| 29.45|
| 26| 29.15|
| 26|    30|
| 26| 46.53|
| 27|  24.1|
| 28|30.875|
| 27| 26.03|
| 28|  25.8|
| 28| 33.11|
+---+------+
only showing top 20 rows

In [34]:
df1.filter((df1["age"].cast("double") > 26) & (df1["bmi"].cast("double") > 20)).select(["age","bmi"]).show()

+---+------+
|age|   bmi|
+---+------+
| 27|  23.1|
| 27|  30.5|
| 27| 32.67|
| 27| 33.66|
| 28| 38.06|
| 29|  27.2|
| 29| 27.94|
| 27|  24.1|
| 28|30.875|
| 27| 26.03|
| 28|  25.8|
| 28| 33.11|
| 28|  33.4|
| 31|  20.4|
| 28|35.435|
| 28|  37.1|
| 29|  25.9|
| 27| 21.47|
| 29| 35.53|
| 29| 38.94|
+---+------+
only showing top 20 rows

In [37]:
df1.filter(~(df1["age"].cast("double") > 26) & (df1["bmi"].cast("double") > 20)).select(["age","bmi"]).show()

+---+-----+
|age|  bmi|
+---+-----+
| 18|23.21|
| 18|30.14|
| 18|33.33|
| 18|33.66|
| 18| 34.1|
| 18|34.43|
| 18|37.29|
| 18|41.14|
| 18|43.01|
| 18|53.13|
| 19| 20.3|
| 19| 20.7|
| 19| 27.6|
| 19| 28.7|
| 19| 34.4|
| 19| 35.4|
| 20|33.33|
| 21|23.21|
| 21| 31.1|
| 21|35.53|
+---+-----+
only showing top 20 rows

In [41]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(
	inputCols=["age", "bmi"],
	outputCol="Independent Features",
	handleInvalid="skip"  # Skip rows with nulls
)
output = featureassembler.transform(df1_casted)
output.select("Independent Features").show()

+--------------------+
|Independent Features|
+--------------------+
|        [18.0,23.21]|
|        [18.0,30.14]|
|        [18.0,33.33]|
|        [18.0,33.66]|
|         [18.0,34.1]|
|        [18.0,34.43]|
|        [18.0,37.29]|
|        [18.0,41.14]|
|        [18.0,43.01]|
|        [18.0,53.13]|
|         [19.0,19.8]|
|         [19.0,20.3]|
|         [19.0,20.7]|
|         [19.0,27.6]|
|         [19.0,28.7]|
|         [19.0,34.4]|
|         [19.0,35.4]|
|        [20.0,33.33]|
|        [21.0,23.21]|
|         [21.0,31.1]|
+--------------------+
only showing top 20 rows

In [42]:
df1.dtypes

[('age', 'string'),
 ('sex', 'string'),
 ('bmi', 'string'),
 ('children', 'string'),
 ('smoker', 'string'),
 ('Claim_Amount', 'string'),
 ('past_consultations', 'string'),
 ('num_of_steps', 'string'),
 ('Hospital_expenditure', 'string'),
 ('NUmber_of_past_hospitalizations', 'string'),
 ('Anual_Salary', 'string'),
 ('region', 'string'),
 ('charges', 'string')]